@font-face {
  font-family: 'Soul Meets Body';
  src: "../fonts/Soul Meets Body.ttf"; }
@font-face {
  font-family: 'Bungee';
  src: "../fonts/Bungee-Regular.ttf"; }
@font-face {
  font-family: 'Bungee Hairline';
  src: "../fonts/BungeeHairline-Regular.ttf"; }
body {
  font-family: 'Soul Meets Body';
  letter-spacing: 2px; }

.display-4-5 {
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.2; }

.navbar {
  background: #2E4057;
  padding: 5px;
  font-size: 1.1em;
  border-bottom: 1px solid #F6D8AE; }
  .navbar a,
  .navbar i,
  .navbar button {
    color: #F6D8AE; }
    .navbar a:focus,
    .navbar i:focus,
    .navbar button:focus {
      outline: none; }
  .navbar .dropdown-menu {
    background: #2E4057;
    border-bottom: 1px solid #F6D8AE;
    border-right: 1px solid #F6D8AE;
    border-left: 1px solid #F6D8AE; }

.landing {
  width: 100vw;
  height: 2000px;
  background: #264f26;
  background: linear-gradient(180deg, #2E4057 0%, #647964 24%, #54bd5d 82%, #ffe900 100%);
  color: #F6D8AE; }
  .landing a {
    color: white;
    transition: .2s; }
    .landing a:hover {
      text-decoration: none;
      color: #2E4057; }

.list-group-item {
  font-size: 1.5em;
  transition: .2s; }
  .list-group-item:hover {
    background: #77BA99; }
  .list-group-item.active {
    background: #2E4057;
    border-color: #2E4057;
    transition: .2s; }
    .list-group-item.active:hover {
      background: #262730; }

.tab-content .user-profile .profile-pic {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  text-align: center; }
.tab-content .user-profile .title {
  font-size: 2.5rem;
  vertical-align: middle; }
.tab-content .user-profile .subtitle {
  font-size: 2rem; }

body.modal-open .modal[style]:not([style='display: none;']) {
  display: flex !important;
  height: 100%; }

body.modal-open .modal[style]:not([style='display: none;']) .modal-dialog {
  margin: auto; }

.gallery {
  font-family: 'Bungee Hairline'; }
  .gallery .gallery-row {
    display: -ms-flexbox;
    /* IE 10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE 10 */
    flex-wrap: wrap;
    box-sizing: border-box; }
    .gallery .gallery-row .gallery-col {
      -ms-flex: 20%;
      /* IE 10 */
      flex: 10%;
      padding: 0;
      padding: 0 2px; }
      .gallery .gallery-row .gallery-col div {
        overflow: hidden;
        margin: 0;
        vertical-align: middle;
        margin-top: 5px; }
        .gallery .gallery-row .gallery-col div img {
          width: 100%;
          filter: grayscale(80%);
          transition: .4s; }
          .gallery .gallery-row .gallery-col div img:hover {
            filter: none;
            transform: scale(1.05); }
        .gallery .gallery-row .gallery-col div .modal {
          margin-top: 0;
          background: rgba(0, 0, 0, 0.8); }
          .gallery .gallery-row .gallery-col div .modal .modal-dialog {
            margin: auto;
            padding: 0; }
            .gallery .gallery-row .gallery-col div .modal .modal-dialog .modal-content {
              background: none;
              color: #F6D8AE; }
              .gallery .gallery-row .gallery-col div .modal .modal-dialog .modal-content .modal-body {
                padding: 0; }
              .gallery .gallery-row .gallery-col div .modal .modal-dialog .modal-content .modal-footer {
                margin-top: 0;
                border-top: none; }
                .gallery .gallery-row .gallery-col div .modal .modal-dialog .modal-content .modal-footer a {
                  color: inherit;
                  margin-left: 15px;
                  transition: .2s; }
                  .gallery .gallery-row .gallery-col div .modal .modal-dialog .modal-content .modal-footer a:hover {
                    color: #955e11; }
            .gallery .gallery-row .gallery-col div .modal .modal-dialog img {
              filter: none; }
              .gallery .gallery-row .gallery-col div .modal .modal-dialog img:hover {
                transform: none; }

@media screen and (max-width: 800px) {
  .gallery-column {
    flex: 50%;
    max-width: 50%; } }
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .gallery-column {
    flex: 100%;
    max-width: 100%; } }
.about {
  padding: 0; }
  .about .about-row {
    display: flex;
    justify-content: center; }
    .about .about-row .about-col {
      flex: 25%;
      text-align: center;
      color: #F6D8AE;
      height: 100vh; }
      .about .about-row .about-col:nth-child(1) {
        background: #77BA99;
        transition: 1s; }
        .about .about-row .about-col:nth-child(1):hover {
          background: #66b18c; }
      .about .about-row .about-col:nth-child(2) {
        background: #771b22;
        transition: 1s; }
        .about .about-row .about-col:nth-child(2):hover {
          background: #4e1216; }
      .about .about-row .about-col:nth-child(3) {
        background: #2E4057;
        transition: 1s; }
        .about .about-row .about-col:nth-child(3):hover {
          background: #253446; }
      .about .about-row .about-col:nth-child(4) {
        background: #262730;
        transition: 1s; }
        .about .about-row .about-col:nth-child(4):hover {
          background: #1b1b22; }

@media screen and (max-width: 850px) {
  .about-row {
    flex-direction: column;
    height: 100vh !important; }
    .about-row .about-col:nth-child(1) {
      background: #77BA99;
      transition: 1s; }
      .about-row .about-col:nth-child(1):hover {
        flex: 70vh 0 0; }
      .about-row .about-col:nth-child(1) .section1 {
        min-width: 300px;
        margin: auto; }
    .about-row .about-col:nth-child(2) {
      background: #771b22;
      transition: .2s; }
      .about-row .about-col:nth-child(2):hover {
        background: #4e1216;
        flex: 70vh 0 0; }
    .about-row .about-col:nth-child(3) {
      background: #2E4057;
      transition: .2s; }
      .about-row .about-col:nth-child(3):hover {
        background: #253446;
        flex: 70vh 0 0; }
    .about-row .about-col:nth-child(4) {
      background: #262730;
      transition: .2s; }
      .about-row .about-col:nth-child(4):hover {
        background: #1b1b22;
        flex: 70vh 0 0; } }

/*# sourceMappingURL=main.css.map */
