@font-face {
  font-family: 'Soul Meets Body';
  src: "../fonts/Soul Meets Body.ttf"; }
@font-face {
  font-family: 'Bungee';
  src: "../fonts/Bungee-Regular.ttf"; }
@font-face {
  font-family: 'Bungee Hairline';
  src: "../fonts/BungeeHairline-Regular.ttf"; }
@font-face {
  font-family: 'The Frontman';
  src: "../fonts/The Frontman.ttf"; }
@font-face {
  font-family: 'quarrystone';
  src: "../fonts/quarrystone.ttf"; }
body {
  font-family: 'Bungee Hairline';
  letter-spacing: 2px; }

.display-4-5 {
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.2; }

.navbar {
  background: #2E4057;
  padding: 5px;
  font-size: .8em; }
  .navbar a,
  .navbar i,
  .navbar button {
    color: #F6D8AE; }
    .navbar a:focus,
    .navbar i:focus,
    .navbar button:focus {
      outline: none; }
  .navbar .dropdown-menu {
    background: #2E4057;
    border-bottom: 1px solid #F6D8AE;
    border-right: 1px solid #F6D8AE;
    border-left: 1px solid #F6D8AE; }

.footer {
  background: #262730;
  color: #99cbb2;
  padding: 40px; }
  .footer h4 {
    padding: 20px; }
  .footer .social-icon {
    color: #77BA99; }
    .footer .social-icon i {
      border: 1px solid #262730;
      border-radius: 50%;
      padding: 20px;
      transition: .2s; }
      .footer .social-icon i:hover {
        border: 1px solid #77BA99;
        color: #448766; }

.landing {
  width: 100vw;
  height: 2000px;
  background: #264f26;
  background: linear-gradient(180deg, #2E4057 0%, #647964 24%, #54bd5d 82%, #ffe900 100%);
  color: #F6D8AE; }
  .landing a {
    color: white;
    transition: .2s; }
    .landing a:hover {
      text-decoration: none;
      color: #2E4057; }

.contacts-index {
  background: #2E4057; }

.list-group-item {
  font-size: 1em;
  width: 280px;
  padding: 1.2em 1em !important;
  transition: .2s;
  border-radius: 0 !important;
  background: #262730;
  color: aliceblue;
  border: none; }
  .list-group-item:hover {
    background: #77BA99; }
  .list-group-item.active {
    background: #2E4057;
    border-color: #2E4057;
    transition: .2s; }
    .list-group-item.active:hover {
      background: #253446; }

.tab-content {
  color: white; }
  .tab-content .user-profile .profile-pic {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    text-align: center; }
  .tab-content .user-profile .title {
    font-size: 2.5rem;
    vertical-align: middle; }
  .tab-content .user-profile .subtitle {
    font-size: 2rem; }

@media screen and (max-width: 800px) {
  .list-group-item {
    font-size: .8em;
    padding: 1.1em 1em !important;
    width: 150px; }

  .tab-content .user-profile .profile-pic {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    text-align: center; }
  .tab-content .user-profile .title {
    font-size: 2rem;
    vertical-align: middle; }
  .tab-content .user-profile .subtitle {
    font-size: 1rem;
    margin-top: 10px; } }
.add-contact {
  background: #77BA99; }
  .add-contact .form-container {
    margin: auto;
    padding: 150px 0;
    max-width: 400px; }
    .add-contact .form-container h2 {
      transform: rotateZ(45deg) translate(200px, -100px); }
    .add-contact .form-container form input {
      background: none;
      border-radius: 0 !important;
      border-top: 0;
      border-left: 0;
      border-right: 0;
      border-bottom: 1px solid #D33F49;
      color: #D33F49;
      letter-spacing: 3px; }
      .add-contact .form-container form input::placeholder {
        color: #F6D8AE;
        letter-spacing: 2px;
        font-size: .8em; }
      .add-contact .form-container form input:focus {
        box-shadow: none; }
      .add-contact .form-container form input[type="submit"] {
        color: #F6D8AE;
        font-size: 1.8em;
        background: #D33F49;
        transition: .2s;
        border: 1px solid #D33F49; }
        .add-contact .form-container form input[type="submit"]:hover {
          border: 1px solid #D33F49;
          background: #0f0404;
          color: #F6D8AE; }

body.modal-open .modal[style]:not([style='display: none;']) {
  display: flex !important;
  height: 100%; }
  body.modal-open .modal[style]:not([style='display: none;']) .modal-dialog {
    margin: auto; }

.gallery {
  font-family: 'Bungee Hairline'; }
  .gallery .gallery-row {
    display: -ms-flexbox;
    /* IE 10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE 10 */
    flex-wrap: wrap;
    box-sizing: border-box; }
    .gallery .gallery-row .gallery-col {
      -ms-flex: 20%;
      /* IE 10 */
      flex: 10%;
      padding: 0;
      padding: 0 2px; }
      .gallery .gallery-row .gallery-col div {
        overflow: hidden;
        margin: 0;
        vertical-align: middle;
        margin-top: 5px; }
        .gallery .gallery-row .gallery-col div img {
          width: 100%;
          filter: grayscale(80%);
          transition: .4s; }
          .gallery .gallery-row .gallery-col div img:hover {
            filter: none;
            transform: scale(1.05); }
        .gallery .gallery-row .gallery-col div .modal {
          margin-top: 0;
          background: rgba(0, 0, 0, 0.8); }
          .gallery .gallery-row .gallery-col div .modal .modal-dialog {
            margin: auto;
            padding: 0; }
            .gallery .gallery-row .gallery-col div .modal .modal-dialog .modal-content {
              background: none;
              color: #F6D8AE; }
              .gallery .gallery-row .gallery-col div .modal .modal-dialog .modal-content .modal-body {
                padding: 0; }
              .gallery .gallery-row .gallery-col div .modal .modal-dialog .modal-content .modal-footer {
                margin-top: 0;
                border-top: none; }
                .gallery .gallery-row .gallery-col div .modal .modal-dialog .modal-content .modal-footer a {
                  color: inherit;
                  margin-left: 15px;
                  transition: .2s; }
                  .gallery .gallery-row .gallery-col div .modal .modal-dialog .modal-content .modal-footer a:hover {
                    color: #955e11; }
            .gallery .gallery-row .gallery-col div .modal .modal-dialog img {
              filter: none;
              max-height: 600px;
              object-fit: contain; }
              .gallery .gallery-row .gallery-col div .modal .modal-dialog img:hover {
                transform: none; }

@media screen and (max-width: 800px) {
  .gallery-column {
    flex: 50%;
    max-width: 50%; } }
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .gallery-column {
    flex: 100%;
    max-width: 100%; } }
.about {
  padding: 0; }
  .about .about-row {
    display: flex;
    justify-content: center; }
    .about .about-row .about-col {
      flex: 25%;
      text-align: center;
      color: #F6D8AE;
      height: 100vh; }
      .about .about-row .about-col:nth-child(1) {
        background: #77BA99;
        transition: 1s; }
        .about .about-row .about-col:nth-child(1):hover {
          background: #66b18c; }
      .about .about-row .about-col:nth-child(2) {
        background: #771b22;
        transition: 1s; }
        .about .about-row .about-col:nth-child(2):hover {
          background: #4e1216; }
      .about .about-row .about-col:nth-child(3) {
        background: #2E4057;
        transition: 1s; }
        .about .about-row .about-col:nth-child(3):hover {
          background: #253446; }
      .about .about-row .about-col:nth-child(4) {
        background: #262730;
        transition: 1s; }
        .about .about-row .about-col:nth-child(4):hover {
          background: #1b1b22; }

@media screen and (max-width: 850px) {
  .about-row {
    flex-direction: column;
    height: 100vh !important; }
    .about-row .about-col:nth-child(1) {
      background: #77BA99;
      transition: 1s; }
      .about-row .about-col:nth-child(1):hover {
        flex: 70vh 0 0; }
      .about-row .about-col:nth-child(1) .section1 {
        min-width: 300px;
        margin: auto; }
    .about-row .about-col:nth-child(2) {
      background: #771b22;
      transition: .2s; }
      .about-row .about-col:nth-child(2):hover {
        background: #4e1216;
        flex: 70vh 0 0; }
    .about-row .about-col:nth-child(3) {
      background: #2E4057;
      transition: .2s; }
      .about-row .about-col:nth-child(3):hover {
        background: #253446;
        flex: 70vh 0 0; }
    .about-row .about-col:nth-child(4) {
      background: #262730;
      transition: .2s; }
      .about-row .about-col:nth-child(4):hover {
        background: #1b1b22;
        flex: 70vh 0 0; } }

/*# sourceMappingURL=main.css.map */
