// GLOBAL
@font-face {
  font-family: 'Soul Meets Body';
  src: '../fonts/Soul Meets Body.ttf'
}

@font-face {
  font-family: 'Bungee';
  src: '../fonts/Bungee-Regular.ttf'
}

@font-face {
  font-family: 'Bungee Hairline';
  src: '../fonts/BungeeHairline-Regular.ttf'
}

$color-1: #77BA99;
$color-2: #D33F49;
$color-3: #2E4057;
$color-4: #262730;
$color-5: #F6D8AE;

body {
  font-family: 'Soul Meets Body';
  letter-spacing: 2px;
}

.display-4-5 {
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.2;
}

// NAVBAR
.navbar {
  background: $color-3;
  padding: 5px;
  font-size: 1.1em;
  border-bottom: 1px solid $color-5;

  a,
  i,
  button {
    color: $color-5;

    &:focus {
      outline: none;
    }
  }

  .dropdown-menu {
    background: #2E4057;
    // border-top:1px solid $color-5;
    border-bottom: 1px solid $color-5;
    border-right: 1px solid $color-5;
    border-left: 1px solid $color-5;
  }
}

// LANDING
.landing {
  width:100vw;
  height:2000px;
  background: rgb(38,79,38);
  background: linear-gradient(180deg, $color-3 0%, rgba(100,121,100,1) 24%,  rgba(84,189,93,1) 82%, rgba(255,233,0,1) 100%);
  color:$color-5;

  a {
    color:white;
    transition:.2s;

    &:hover {
      text-decoration: none;
      color:$color-3;
    }
  }

}

// CONTACTS INDEX
.list-group-item {
  font-size: 1.5em;
  transition: .2s;

  &:hover {
    background: #77BA99;
  }

  &.active {
    background: $color-3;
    border-color: $color-3;
    transition: .2s;

    &:hover {
      background: #262730;
    }
  }

}

.tab-content {

  .user-profile {

    .profile-pic {
      width: 300px;
      height: 300px;
      border-radius: 50%;
      object-fit: cover;
      text-align: center;
    }

    .title {
      font-size: 2.5rem;
      vertical-align: middle;
    }

    .subtitle {
      font-size: 2rem;
    }
  }
}

// UNSPLASH GALLERY
body.modal-open .modal[style]:not([style='display: none;']) {
  display: flex !important;
  height: 100%;
} 

body.modal-open .modal[style]:not([style='display: none;']) .modal-dialog {
  margin: auto;
}

.gallery {
  font-family: 'Bungee Hairline';

  .gallery-row {
    display: -ms-flexbox;
    /* IE 10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE 10 */
    flex-wrap: wrap;
    box-sizing: border-box;

    .gallery-col {
      -ms-flex: 20%;
      /* IE 10 */
      flex: 10%;
      padding: 0;
      padding: 0 2px;

      div {
        overflow: hidden;
        margin: 0;
        vertical-align: middle;
        margin-top: 5px;

        img {
          width: 100%;
          filter: grayscale(80%);
          transition: .4s;

          &:hover {
            filter: none;
            transform: scale(1.05);
          }
        }

        .modal {
          margin-top: 0;
          background: rgba(black, .8);

          .modal-dialog {
            margin: auto;
            padding: 0;

            .modal-content {
              background: none;
              color: #F6D8AE;

              .modal-body {
                padding: 0;
              }

              .modal-footer {
                margin-top: 0;
                border-top: none;

                a {
                  color:inherit;
                  margin-left:15px;
                  transition:.2s;

                  &:hover {
                    color:darken($color-5, 50%)
                  }
                }
              }
            }

            img {
              filter: none;

              &:hover {
                transform: none;
              }
            }
          }
        }
      }

    }
  }
}

@media screen and (max-width: 800px) {
  .gallery-column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .gallery-column {
    flex: 100%;
    max-width: 100%;
  }
}

// ABOUT
.about {
  padding:0;
  
  .about-row {
    display: flex;
    justify-content: center;
    
    .about-col {
      flex:25%;
      text-align: center;
      color: #F6D8AE;
      height:100vh;
      // border: 1px solid #F6D8AE;
      
      &:nth-child(1){
        background: $color-1;
        transition:1s;
        
        &:hover {
          background: darken($color-1,5%);
        }

      }
      &:nth-child(2){
        background: darken($color-2,25%);
        transition:1s;
        
        &:hover {
          background: darken($color-2,35%);
        }
      }
      &:nth-child(3){
        background: $color-3;
        transition:1s;
        
        &:hover {
          background: darken($color-3,5%);
        }
      }
      &:nth-child(4){
        background: $color-4;
        transition:1s;
        
        &:hover {
          background: darken($color-4,5%);
        }
      }
    }
  }
}

@media screen and (max-width: 850px)  {
  .about-row {
    flex-direction: column;
    height:100vh !important;

    .about-col {
      
      &:nth-child(1){
        background: $color-1;
        transition:1s;

        &:hover {
          flex: 70vh 0 0;
        }

        .section1 {
          min-width:300px;
          margin: auto;
        }
      }
      &:nth-child(2){
        background: darken($color-2,25%);
        transition:.2s;
        
        &:hover {
          background: darken($color-2,35%);
          flex: 70vh 0 0;
        }
      }
      &:nth-child(3){
        background: $color-3;
        transition:.2s;
        
        &:hover {
          background: darken($color-3,5%);
          flex: 70vh 0 0;
        }
      }
      &:nth-child(4){
        background: $color-4;
        transition:.2s;
        
        &:hover {
          background: darken($color-4,5%);
          flex: 70vh 0 0;
        }
      }
    }
  }
}